In [2]:
import mysql.connector as conn
import pandas as pd
import os

In [5]:
mydb = conn.connect(
        host=os.environ['dbHost'],
        user=os.environ['dbUser'],
        passwd=os.environ['dbPasswd'],
        database='se'
        )
mycursor = mydb.cursor()
print('MySQL connection established')

MySQL connection established

In [43]:
batchSize = 200
dbTable = 'seTrain'
stocks = ['AZN.ST','XSPRAY.ST','SOBI.ST','EKTA-B.ST','GETI-B.ST','XBRANE.ST','ONCO.ST','HNSA.ST','RAY.ST','^OMX']
n = (batchSize + 50) * len(stocks)
sql = "SELECT * from `" + dbTable + "` where Ticker in ('" + "','".join(stocks) + "') ORDER BY Datetime DESC limit " + str(n)
res = pd.read_sql(sql, mydb)

In [44]:
testDf = res.pivot_table(index='Datetime', columns = 'Ticker')

In [45]:
testDf.sort_index(inplace=True, ascending=False)

In [46]:
testDf = testDf.iloc[:batchSize, :]

In [53]:
finalDf = testDf['Close']
finalDf

Ticker,AZN.ST,EKTA-B.ST,GETI-B.ST,HNSA.ST,ONCO.ST,SOBI.ST,XBRANE.ST,XSPRAY.ST,^OMX
Datetime,,,,,,,,,
2021-03-18 17:29:00,849.4,111.50,235.0,148.7,155.5,143.45,95.6,110.5,2180.14
2021-03-18 17:25:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2181.03
2021-03-18 17:24:00,849.4,111.30,234.9,148.5,154.8,143.65,95.0,110.0,2181.13
2021-03-18 17:23:00,849.0,111.15,234.9,148.7,155.1,143.65,95.4,110.0,2180.56
2021-03-18 17:22:00,849.0,111.35,235.0,148.8,155.1,143.70,95.0,110.5,2179.90
...,...,...,...,...,...,...,...,...,...
2021-03-18 14:10:00,845.8,113.25,235.1,NaN,NaN,145.05,NaN,NaN,2174.93
2021-03-18 14:09:00,847.0,113.10,235.1,NaN,153.0,145.05,NaN,NaN,2175.32
2021-03-18 14:08:00,846.8,NaN,235.2,149.4,NaN,145.25,NaN,NaN,2175.92
2021-03-18 14:07:00,846.6,113.15,235.3,149.4,153.4,145.20,NaN,NaN,2175.44
2021-03-18 14:06:00,846.4,113.25,235.4,NaN,NaN,145.15,96.2,NaN,2175.74

In [55]:
finalDf = finalDf.fillna(method='ffill')

In [58]:
finalDf.sort_index(inplace=True, ascending=True)
finalDf

Ticker,AZN.ST,EKTA-B.ST,GETI-B.ST,HNSA.ST,ONCO.ST,SOBI.ST,XBRANE.ST,XSPRAY.ST,^OMX
Datetime,,,,,,,,,
2021-03-18 14:06:00,846.4,113.25,235.4,149.4,153.4,145.15,96.2,112.0,2175.74
2021-03-18 14:07:00,846.6,113.15,235.3,149.4,153.4,145.20,96.0,112.0,2175.44
2021-03-18 14:08:00,846.8,113.10,235.2,149.4,153.0,145.25,96.0,112.0,2175.92
2021-03-18 14:09:00,847.0,113.10,235.1,149.3,153.0,145.05,96.0,112.0,2175.32
2021-03-18 14:10:00,845.8,113.25,235.1,149.3,152.9,145.05,96.0,112.0,2174.93
...,...,...,...,...,...,...,...,...,...
2021-03-18 17:22:00,849.0,111.35,235.0,148.8,155.1,143.70,95.0,110.5,2179.90
2021-03-18 17:23:00,849.0,111.15,234.9,148.7,155.1,143.65,95.4,110.0,2180.56
2021-03-18 17:24:00,849.4,111.30,234.9,148.5,154.8,143.65,95.0,110.0,2181.13
2021-03-18 17:25:00,849.4,111.50,235.0,148.7,155.5,143.45,95.6,110.5,2181.03
2021-03-18 17:29:00,849.4,111.50,235.0,148.7,155.5,143.45,95.6,110.5,2180.14

In [ ]:
snapshotDir = '/Users/eullikr/onlineAccounts/github/Stock-analysis/stock_research/OnlineStockPredictor2021/src/results/AZN.ST.TS90.BS200.LookAhead1.2021-03-20_11-22-04/'
claArgsPath = os.path.join(snapshotDir, 'programArgs.yaml')

with open(claArgsPath, 'r') as ifile:
        yaml_dict = yaml.safe_load(ifile)

scaledBatch = scaler.transform(newStockBatch.reshape(1,-1))